body,
html {
  width: 100%;
  height: 100%;
  background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color: #e2dbdb;
	font-family: 'Fredoka One', cursive;
}
p {
	color: #e2dbdb;
	text-transform: uppercase;
	font-family: 'Fredoka One', cursive;
	font-size: 12px;
}

.buffer{
	height: 4rem;
}

hr {
	border-color: #17a2b8;
	border-width: 3px;
	border-radius: 10px;
	max-width: 50px;
}

.container {
	display: grid;
	grid-gap: 20px;
	grid-template-rows: 1fr;
}

.btn {
	text-transform: uppercase;
	font-family: 'Fredoka One', cursive;
	border-radius: 500px;
	/*font-weight: 100;*/
	padding: 1rem 2rem;	
	position: relative;
}

.btn-info {
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.btn-info:hover {
    background-color: #28a3b9;
    border-color: #28a3b9;
    border-width: 3px;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}














